.footer-section{
    background: $b-dark;
    }
    
    .footer-content-left{
    padding-top: 60px;
    padding-right: 70px;
    }
    
    .footer-section .logo-link{
    margin-top: 60px;
    }
    .logo-footer{
    height: 31px;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: $fha-blue;
    }
    
    .logo-white{
    color: $txt-white;
    }
    
    .footer-address{
        margin-top: 20px;
    }
    
    .footer-item{
        margin-top: 9px;
    font-style: normal;
    }
    
    .footer-contacts{
    padding-bottom: 60px;
    }
    
    .footer-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $txt-white;
    }
    
    .footer-mail{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
    
    .footer-tel{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
    .footer-center-description{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF; 
    padding-bottom: 20px;
    }
    
    .footer-icon-item:not(:last-child){
        margin-right: 10px;
    }
    
    .footer-icon-list{
        display: flex;
        justify-content: center;
    }
    
    .footer-icon-link{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        background: rgba(255, 255, 255, 0.1);
        color: #FFFFFF;
        height: 44px;
        width: 44px; 
    
        transition: background 250ms $cubic;
    }
    
    .footer-icon-link:hover,
    .footer-icon-link:focus{
    color: #FFFFFF;
    background: $fha-blue;
    }
    
    .footer-ikon-svg{
     fill: currentColor;
     transition: fill 250ms $cubic;
    }
    
    .footer-content-center{
        padding-top: 72px;
        padding-bottom: 100px;
    }
    .footer-content-right{
    padding-left: 93px;
    }
    
    .footer-form{
        display: flex;
        align-items: center;
    }
    
    .footer-right-description{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 72px;
    padding-bottom: 20px;
    }
    
    .footer-form-mail{
    width: 358px;
    height: 50px;
    background-color: $b-dark;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;  
    cursor: pointer;
    resize: none;
    padding-left: 16px;
    margin-right: 12px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
    
    .footer-right-button {
        display: flex;
        justify-content: center;
        text-align: center;
        min-width: 200px;
        height: 50px;
        border-color: $fha-blue;
        background: $fha-blue;
    
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        outline: none;
    }
    
    .footer-right-join {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        color: $txt-white;
    }
    
    .footer-right-svg{
    margin-left: 10px;
    }