.our-clients-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 50px;
    }
    .our-clients-list{
        justify-content: space-between;
        padding-bottom: 94px;
        display: flex;  
    }
    .our-clients-item:not(:last-child){
        margin-right: 30px;
    }
    
    .our-clients-link{
        display: flex;
        justify-content: center;
        height: 90px;
        width: 170px;
        border: 1px solid var(--icon);
        border-radius: 4px;
        align-items: center;
        color: var(--icon);
    
        transition: color 250ms var(--cubic);
    }
    
    .our-clients-link:hover,
    .our-clients-link:focus{
        color: var(--fha-blue);
        border-color: var(--fha-blue);
    }
    
    .clients-svg{
        fill: currentColor;
        transition: fill 250ms var(--cubic);
    }