.staff{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--txt-dark);
    }

.staff{
    padding-top: 94px;
    padding-bottom: 50px;
    }
    
    .our-staff-section{
    left: 0px;
    
    background: #F5F4FA;
    padding-bottom: 94px;
    }
    
    .staff-list{
    display: flex;
    }
    
    .staff-list-content-wrapper{
    padding-top: 30px;
    padding-bottom: 16px;
    }
    
    .staff-name{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    }
    
    .staff-item:not(:last-child){
    margin-right: 30px;
    }
    
    .staff-item{
    background: var(--txt-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }
    
    .staff-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--txt-grey);
    }
    
    .section-staff-icons{
        padding-bottom: 30px;
    }
    
    .icon-item:not(:last-child){
        margin-right: 10px;
    }
    
    .icon-list{
    display: flex;
    justify-content: center;
        
    }
    .icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: #FFFFFF;
    color: #AFB1B8;
    height: 44px;
    width: 44px;
    
    transition: background 250ms var(--cubic);
    }
    
    .icon-link:hover,
    .icon-link:focus{
    color: #FFFFFF;
    background: var(--fha-blue);
    }
    
    .staff-ikon-svg{
    fill: currentColor;
    transition: fill 250ms var(--cubic);
    }